### Data Source and Preparation
The data for this study will be sourced from the spreadsheet "ukmeasuresofnationalwellbeingfeb20251.xlsx", which was obtained from the UK government online portal.

#### Time Series Consistency
The main sheets we will use to study variables related to happiness, anxiety, and general well-being provide quarterly information.
However, the sheet containing Consumer Confidence presents data on a monthly basis.

To ensure consistency across the dataset, we will convert the monthly Consumer Confidence data into quarterly data by calculating the mean over every three-month period.

In [2]:
import pandas as pd
import numpy  as np

In [3]:
df = pd.read_excel("WB.xls", sheet_name="Consumer_confidence_month")

In [4]:
df.head()

         Month  Value
0   April 2011  -31.0
1     May 2011  -21.2
2    June 2011  -24.6
3    July 2011  -30.4
4  August 2011  -30.8

In [4]:
# create a column group (3 lines in 3 lines)
df['group'] = df.index // 3

In [5]:
# group and calculate the mean
df_grouped = df.groupby('group')['Value'].mean().to_frame('Mean')

In [9]:
# create period column as in other tables
quarters = np.array(['Apr to June', 'July to Sept', 'Oct to Dec', 'Jan to Mar'])

In [10]:
# Select quarter from each group
df_grouped['Quarter'] = quarters[df_grouped.index % 4]

In [11]:
# extract year of 1Âª line of each group
df_grouped['Year'] = df.iloc[df_grouped.index * 3]['Month'].str[-4:].values

In [12]:
# create period column joining Quarter + Year
df_grouped['Period'] = df_grouped['Quarter'] + ' ' + df_grouped['Year']

In [13]:
# Reorganise columns
df_grouped = df_grouped[['Period', 'Mean']]

In [14]:
df_grouped.head()

                  Period       Mean
group
0       Apr to June 2011 -25.600000
1      July to Sept 2011 -30.200000
2        Oct to Dec 2011 -32.000000
3        Jan to Mar 2012 -29.466667
4       Apr to June 2012 -30.200000

In [ ]:
# export the new table
df_grouped.to_excel("Consumer_confidence_quarter.xlsx", index=False)